@braussjoss:registry=https://us-central1-npm.pkg.dev/bjbc-test2/test-repo/
//us-central1-npm.pkg.dev/bjbc-test2/test-repo/:_authToken="ya29.c.Kn7dB8zNjvL4L22e_5qLtHeaHYCsC2tBy8iOu7yqLOF5xSnKvO3iqxPZBsZZ950YogKskEJ_jUnUXLmKGEnOc3OSdtumbDxvMoXUYLWJcQOF6bQS8mhyxVHpw0QbzGXczbxKlLZmnQMlkLSnR4hbOj-OONveQE6UnKsLsdAfZpE"
//us-central1-npm.pkg.dev/bjbc-test2/test-repo/:always-auth=true
